#ifdef __EBPF__

#define NR_CALLERS 66
struct {
	__uint(type, BPF_MAP_TYPE_HASH);
	__type(key, __u32);
	__type(value, __u64 [NR_CALLERS]);
	__uint(max_entries, 1024);
} sample_map SEC(".maps");

#else /* !__EBPF__ */

static struct {
	unsigned long long callee;
	unsigned long long callers[66];
} sample_trace [34] = {
	{
		.callee = 0xffffffff8107af47ULL,
		.callers = {
			[0] = 0xffffffff8107b163ULL,
		},
	},
	{
		.callee = 0xffffffff8111f599ULL,
		.callers = {
			[0] = 0xffffffff8135fdb7ULL,
			[1] = 0xffffffff8111bdacULL,
		},
	},
	{
		.callee = 0xffffffff810e9cddULL,
		.callers = {
			[0] = 0xffffffff81fb2251ULL,
			[1] = 0xffffffff810d5329ULL,
		},
	},
	{
		.callee = 0xffffffff816cc467ULL,
		.callers = {
			[0] = 0xffffffff816cc85fULL,
		},
	},
	{
		.callee = 0xffffffff810cfa82ULL,
		.callers = {
			[0] = 0xffffffff810da3e4ULL,
			[1] = 0xffffffff810da45bULL,
		},
	},
	{
		.callee = 0xffffffff811273beULL,
		.callers = {
			[0] = 0xffffffff8109f2ddULL,
			[1] = 0xffffffff81f844deULL,
			[2] = 0xffffffff813153adULL,
			[3] = 0xffffffff812ac65bULL,
			[4] = 0xffffffff81f8511aULL,
			[5] = 0xffffffff8126558aULL,
			[6] = 0xffffffff812659afULL,
			[7] = 0xffffffff81251442ULL,
			[8] = 0xffffffff8109fed4ULL,
			[9] = 0xffffffff8109f2c8ULL,
			[10] = 0xffffffff81265d12ULL,
			[11] = 0xffffffff81328883ULL,
			[12] = 0xffffffff812ab6daULL,
			[13] = 0xffffffff814f3283ULL,
			[14] = 0xffffffff81328209ULL,
			[15] = 0xffffffff814f298eULL,
			[16] = 0xffffffff815999f4ULL,
			[17] = 0xffffffff812ac62cULL,
			[18] = 0xffffffff812684d0ULL,
			[19] = 0xffffffff81f85134ULL,
			[20] = 0xffffffff8132fd75ULL,
			[21] = 0xffffffff810d76efULL,
			[22] = 0xffffffff8159d1beULL,
			[23] = 0xffffffff81f850b7ULL,
			[24] = 0xffffffff810b4e48ULL,
			[25] = 0xffffffff8109fec0ULL,
			[26] = 0xffffffff8131db61ULL,
			[27] = 0xffffffff8107724aULL,
			[28] = 0xffffffff813324f6ULL,
			[29] = 0xffffffff8131ce8fULL,
			[30] = 0xffffffff8131dd43ULL,
			[31] = 0xffffffff813b049bULL,
			[32] = 0xffffffff810a8faaULL,
			[33] = 0xffffffff813255d0ULL,
			[34] = 0xffffffff813090c4ULL,
			[35] = 0xffffffff810da41eULL,
			[36] = 0xffffffff8131d12bULL,
			[37] = 0xffffffff81274b34ULL,
			[38] = 0xffffffff8131ce44ULL,
			[39] = 0xffffffff8131d185ULL,
			[40] = 0xffffffff812a6e73ULL,
			[41] = 0xffffffff81f9f33bULL,
			[42] = 0xffffffff8109fee8ULL,
		},
	},
	{
		.callee = 0xffffffff8159dd6bULL,
		.callers = {
			[0] = 0xffffffff81161631ULL,
		},
	},
	{
		.callee = 0xffffffff812f6828ULL,
		.callers = {
			[0] = 0xffffffff81f84f3bULL,
			[1] = 0xffffffff812f1ebcULL,
			[2] = 0xffffffff8132f2daULL,
			[3] = 0xffffffff812b6537ULL,
			[4] = 0xffffffff81f82cacULL,
			[5] = 0xffffffff8132f2e3ULL,
			[6] = 0xffffffff81090fc6ULL,
			[7] = 0xffffffff8132f2ebULL,
			[8] = 0xffffffff81090fceULL,
			[9] = 0xffffffff81373c79ULL,
		},
	},
	{
		.callee = 0xffffffff81127383ULL,
		.callers = {
			[0] = 0xffffffff81265b9eULL,
			[1] = 0xffffffff81327e73ULL,
			[2] = 0xffffffff810da310ULL,
			[3] = 0xffffffff8159d041ULL,
			[4] = 0xffffffff812ab69bULL,
			[5] = 0xffffffff8109f2b4ULL,
			[6] = 0xffffffff81f9f2cdULL,
			[7] = 0xffffffff813b028dULL,
			[8] = 0xffffffff812ac57dULL,
			[9] = 0xffffffff81599881ULL,
			[10] = 0xffffffff8132557fULL,
			[11] = 0xffffffff81f8508fULL,
			[12] = 0xffffffff814f2741ULL,
			[13] = 0xffffffff8109feadULL,
			[14] = 0xffffffff810d7563ULL,
			[15] = 0xffffffff813287abULL,
			[16] = 0xffffffff814f31c9ULL,
			[17] = 0xffffffff812654baULL,
			[18] = 0xffffffff812ac689ULL,
			[19] = 0xffffffff8109fe8bULL,
			[20] = 0xffffffff8109f2afULL,
			[21] = 0xffffffff81274b12ULL,
			[22] = 0xffffffff810b4dd1ULL,
			[23] = 0xffffffff8125139eULL,
			[24] = 0xffffffff812681b1ULL,
			[25] = 0xffffffff8107723cULL,
			[26] = 0xffffffff8132fd05ULL,
			[27] = 0xffffffff8129ef29ULL,
			[28] = 0xffffffff810a8ea7ULL,
			[29] = 0xffffffff8131c5b0ULL,
			[30] = 0xffffffff812658c9ULL,
			[31] = 0xffffffff813324e0ULL,
			[32] = 0xffffffff81f8433eULL,
			[33] = 0xffffffff8109fec5ULL,
		},
	},
	{
		.callee = 0xffffffff81288b51ULL,
		.callers = {
			[0] = 0xffffffff81274831ULL,
			[1] = 0xffffffff81274bebULL,
			[2] = 0xffffffff812748aaULL,
			[3] = 0xffffffff81275dfaULL,
		},
	},
	{
		.callee = 0xffffffff812cadbbULL,
		.callers = {
			[0] = 0xffffffff812b7eaeULL,
			[1] = 0xffffffff812abe9dULL,
			[2] = 0xffffffff812abddeULL,
		},
	},
	{
		.callee = 0xffffffff816cc496ULL,
		.callers = {
			[0] = 0xffffffff816cc838ULL,
			[1] = 0xffffffff816c94a9ULL,
			[2] = 0xffffffff816c91afULL,
		},
	},
	{
		.callee = 0xffffffff812893d9ULL,
		.callers = {
			[0] = 0xffffffff8107998cULL,
			[1] = 0xffffffff81086befULL,
			[2] = 0xffffffff810913d9ULL,
			[3] = 0xffffffff8107989fULL,
			[4] = 0xffffffff812ac916ULL,
			[5] = 0xffffffff810798edULL,
			[6] = 0xffffffff812abdd4ULL,
			[7] = 0xffffffff81086c17ULL,
			[8] = 0xffffffff81086c3fULL,
		},
	},
	{
		.callee = 0xffffffff812cd152ULL,
		.callers = {
			[0] = 0xffffffff812cee66ULL,
			[1] = 0xffffffff812ec993ULL,
			[2] = 0xffffffff81265668ULL,
			[3] = 0xffffffff8107986eULL,
			[4] = 0xffffffff812ac8dcULL,
			[5] = 0xffffffff812cee08ULL,
		},
	},
	{
		.callee = 0xffffffff810ccd23ULL,
		.callers = {
			[0] = 0xffffffff8116163cULL,
		},
	},
	{
		.callee = 0xffffffff81fb2a6dULL,
		.callers = {
			[0] = 0xffffffff81f6dda2ULL,
			[1] = 0xffffffff81f666e8ULL,
		},
	},
	{
		.callee = 0xffffffff8113f867ULL,
		.callers = {
			[0] = 0xffffffff810d76c6ULL,
		},
	},
	{
		.callee = 0xffffffff812f42fbULL,
		.callers = {
			[0] = 0xffffffff812f0dc0ULL,
			[1] = 0xffffffff812f2031ULL,
			[2] = 0xffffffff812f124eULL,
		},
	},
	{
		.callee = 0xffffffff81fb97ebULL,
		.callers = {
			[0] = 0xffffffff81fb8fa8ULL,
		},
	},
	{
		.callee = 0xffffffff810cfa62ULL,
		.callers = {
			[0] = 0xffffffff810da387ULL,
		},
	},
	{
		.callee = 0xffffffff8103366fULL,
		.callers = {
			[0] = 0xffffffff8107b163ULL,
		},
	},
	{
		.callee = 0xffffffff8111f5c8ULL,
		.callers = {
			[0] = 0xffffffff8135fe24ULL,
			[1] = 0xffffffff8111be44ULL,
		},
	},
	{
		.callee = 0xffffffff81fb908dULL,
		.callers = {
			[0] = 0xffffffff812ab1b7ULL,
			[1] = 0xffffffff812ab224ULL,
			[2] = 0xffffffff814cbfd0ULL,
		},
	},
	{
		.callee = 0xffffffff812f1912ULL,
		.callers = {
			[0] = 0xffffffff81f6589cULL,
			[1] = 0xffffffff81f84f3bULL,
			[2] = 0xffffffff812b6537ULL,
			[3] = 0xffffffff81f82cacULL,
			[4] = 0xffffffff812be141ULL,
			[5] = 0xffffffff81316b1bULL,
			[6] = 0xffffffff81302ab0ULL,
			[7] = 0xffffffff813123afULL,
			[8] = 0xffffffff812be07eULL,
			[9] = 0xffffffff81086b34ULL,
			[10] = 0xffffffff8130e300ULL,
			[11] = 0xffffffff813090e0ULL,
			[12] = 0xffffffff812be5acULL,
		},
	},
	{
		.callee = 0xffffffff81fb8f98ULL,
		.callers = {
			[0] = 0xffffffff816a7d57ULL,
			[1] = 0xffffffff816c26dbULL,
			[2] = 0xffffffff810cef0aULL,
			[3] = 0xffffffff810ec641ULL,
			[4] = 0xffffffff81275d28ULL,
			[5] = 0xffffffff816c29eaULL,
			[6] = 0xffffffff81f661d5ULL,
			[7] = 0xffffffff81967196ULL,
			[8] = 0xffffffff81274e36ULL,
			[9] = 0xffffffff81f6daccULL,
			[10] = 0xffffffff810ec16eULL,
			[11] = 0xffffffff819670eaULL,
			[12] = 0xffffffff810ebb55ULL,
			[13] = 0xffffffff81f65816ULL,
			[14] = 0xffffffff816c35aaULL,
			[15] = 0xffffffff810ec07eULL,
			[16] = 0xffffffff8109ff79ULL,
			[17] = 0xffffffff810cd050ULL,
			[18] = 0xffffffff810ebf71ULL,
			[19] = 0xffffffff812f5ca4ULL,
			[20] = 0xffffffff81f6d664ULL,
		},
	},
	{
		.callee = 0xffffffff81fb907dULL,
		.callers = {
			[0] = 0xffffffff8134ebacULL,
			[1] = 0xffffffff816d7b15ULL,
			[2] = 0xffffffff81373ebcULL,
			[3] = 0xffffffff812abe78ULL,
			[4] = 0xffffffff81328eb9ULL,
			[5] = 0xffffffff81268491ULL,
			[6] = 0xffffffff813445e8ULL,
			[7] = 0xffffffff812ed641ULL,
			[8] = 0xffffffff8132b789ULL,
			[9] = 0xffffffff814cae5bULL,
			[10] = 0xffffffff812b9cf1ULL,
			[11] = 0xffffffff814cc599ULL,
			[12] = 0xffffffff812cad93ULL,
			[13] = 0xffffffff812631a4ULL,
			[14] = 0xffffffff812aca0dULL,
			[15] = 0xffffffff814ecf26ULL,
			[16] = 0xffffffff815dc4b3ULL,
			[17] = 0xffffffff812aa2f1ULL,
			[18] = 0xffffffff81327e6eULL,
			[19] = 0xffffffff814cbfd0ULL,
			[20] = 0xffffffff812aaabcULL,
			[21] = 0xffffffff81090fbeULL,
			[22] = 0xffffffff810ce2a3ULL,
			[23] = 0xffffffff81325f0cULL,
			[24] = 0xffffffff8132899eULL,
			[25] = 0xffffffff8134ebb4ULL,
			[26] = 0xffffffff810d3a9cULL,
			[27] = 0xffffffff813101fcULL,
			[28] = 0xffffffff81fb27f6ULL,
			[29] = 0xffffffff8132834eULL,
			[30] = 0xffffffff812ab224ULL,
			[31] = 0xffffffff814c82c0ULL,
			[32] = 0xffffffff812b47dbULL,
			[33] = 0xffffffff812cb528ULL,
			[34] = 0xffffffff812cd4ffULL,
			[35] = 0xffffffff8132b7f1ULL,
			[36] = 0xffffffff812ab1b7ULL,
			[37] = 0xffffffff812a6b72ULL,
			[38] = 0xffffffff8132bb7cULL,
			[39] = 0xffffffff81325ecbULL,
			[40] = 0xffffffff810aa7b8ULL,
			[41] = 0xffffffff814f4872ULL,
			[42] = 0xffffffff8132dda4ULL,
			[43] = 0xffffffff814cbe07ULL,
			[44] = 0xffffffff8132dd66ULL,
			[45] = 0xffffffff8169ba26ULL,
			[46] = 0xffffffff813152ceULL,
			[47] = 0xffffffff8132f356ULL,
			[48] = 0xffffffff8132b376ULL,
			[49] = 0xffffffff8132f744ULL,
			[50] = 0xffffffff8132887eULL,
			[51] = 0xffffffff8132f4cdULL,
			[52] = 0xffffffff810bf2e6ULL,
			[53] = 0xffffffff81268204ULL,
			[54] = 0xffffffff81325eb2ULL,
			[55] = 0xffffffff812b9cffULL,
			[56] = 0xffffffff810d3ce8ULL,
			[57] = 0xffffffff8132b7e5ULL,
			[58] = 0xffffffff812bddd9ULL,
			[59] = 0xffffffff814f46c8ULL,
			[60] = 0xffffffff8132dca7ULL,
			[61] = 0xffffffff8132dd72ULL,
			[62] = 0xffffffff812b83bbULL,
			[63] = 0xffffffff812a540cULL,
			[64] = 0xffffffff81091749ULL,
			[65] = 0xffffffff812ac85aULL,
		},
	},
	{
		.callee = 0xffffffff81fb8f11ULL,
		.callers = {
			[0] = 0xffffffff813287f9ULL,
			[1] = 0xffffffff81262f88ULL,
			[2] = 0xffffffff8132f343ULL,
			[3] = 0xffffffff812a53d5ULL,
			[4] = 0xffffffff814cbf9fULL,
			[5] = 0xffffffff8134eb86ULL,
			[6] = 0xffffffff8132b6d0ULL,
			[7] = 0xffffffff8132b756ULL,
			[8] = 0xffffffff812ac7e4ULL,
			[9] = 0xffffffff812ab55eULL,
			[10] = 0xffffffff8132b7aeULL,
			[11] = 0xffffffff8132dd37ULL,
			[12] = 0xffffffff812ac93eULL,
			[13] = 0xffffffff8132dd81ULL,
			[14] = 0xffffffff8132f3e7ULL,
			[15] = 0xffffffff812bd22cULL,
			[16] = 0xffffffff810d3a10ULL,
			[17] = 0xffffffff81310e65ULL,
			[18] = 0xffffffff812b9c0dULL,
			[19] = 0xffffffff81f7a828ULL,
			[20] = 0xffffffff8134454bULL,
			[21] = 0xffffffff8134eb92ULL,
			[22] = 0xffffffff810d3ca5ULL,
			[23] = 0xffffffff810bf2ccULL,
			[24] = 0xffffffff81325efbULL,
			[25] = 0xffffffff814f6f04ULL,
			[26] = 0xffffffff81fb2226ULL,
			[27] = 0xffffffff812ab173ULL,
			[28] = 0xffffffff813152c1ULL,
			[29] = 0xffffffff816d7ae6ULL,
			[30] = 0xffffffff812b4737ULL,
			[31] = 0xffffffff8132dd28ULL,
			[32] = 0xffffffff8169b9e8ULL,
			[33] = 0xffffffff81328d9aULL,
			[34] = 0xffffffff8132dc78ULL,
			[35] = 0xffffffff81590cdaULL,
			[36] = 0xffffffff814cae29ULL,
			[37] = 0xffffffff81327e22ULL,
			[38] = 0xffffffff814f4697ULL,
			[39] = 0xffffffff814cbddcULL,
			[40] = 0xffffffff812bdd89ULL,
			[41] = 0xffffffff814cc511ULL,
			[42] = 0xffffffff812ed627ULL,
			[43] = 0xffffffff814f462cULL,
			[44] = 0xffffffff8132bb56ULL,
			[45] = 0xffffffff8132f6e7ULL,
			[46] = 0xffffffff812a5304ULL,
			[47] = 0xffffffff810aa728ULL,
			[48] = 0xffffffff81091722ULL,
			[49] = 0xffffffff814d8cfcULL,
			[50] = 0xffffffff81328313ULL,
			[51] = 0xffffffff8132b105ULL,
			[52] = 0xffffffff815dc490ULL,
		},
	},
	{
		.callee = 0xffffffff810798a8ULL,
		.callers = {
			[0] = 0xffffffff812aba07ULL,
			[1] = 0xffffffff812ab685ULL,
			[2] = 0xffffffff812a5373ULL,
		},
	},
	{
		.callee = 0xffffffff81070b90ULL,
		.callers = {
			[0] = 0xffffffff810d5363ULL,
		},
	},
	{
		.callee = 0xffffffff81fb90d6ULL,
		.callers = {
			[0] = 0xffffffff81f65830ULL,
			[1] = 0xffffffff810ec15bULL,
			[2] = 0xffffffff812f5f7fULL,
			[3] = 0xffffffff816c2a03ULL,
			[4] = 0xffffffff816a10f4ULL,
			[5] = 0xffffffff81f661f0ULL,
			[6] = 0xffffffff81275ebbULL,
			[7] = 0xffffffff816a7d88ULL,
			[8] = 0xffffffff816c27d2ULL,
			[9] = 0xffffffff816a141bULL,
			[10] = 0xffffffff8109ffedULL,
			[11] = 0xffffffff81f6dd46ULL,
			[12] = 0xffffffff810ec6f1ULL,
			[13] = 0xffffffff81274ebbULL,
			[14] = 0xffffffff81967104ULL,
			[15] = 0xffffffff816c35c0ULL,
			[16] = 0xffffffff81275c75ULL,
			[17] = 0xffffffff810cd4e9ULL,
			[18] = 0xffffffff810cef1dULL,
			[19] = 0xffffffff81f6d82bULL,
			[20] = 0xffffffff819671b0ULL,
			[21] = 0xffffffff81f66749ULL,
			[22] = 0xffffffff81f6ddcbULL,
		},
	},
	{
		.callee = 0xffffffff810e3addULL,
		.callers = {
			[0] = 0xffffffff810dbd1dULL,
		},
	},
	{
		.callee = 0xffffffff812f16e6ULL,
		.callers = {
			[0] = 0xffffffff81f66a0cULL,
			[1] = 0xffffffff81f671a1ULL,
			[2] = 0xffffffff81f6586cULL,
			[3] = 0xffffffff81f66974ULL,
			[4] = 0xffffffff81373c6fULL,
			[5] = 0xffffffff813b41e5ULL,
			[6] = 0xffffffff813123a7ULL,
			[7] = 0xffffffff813b15fbULL,
			[8] = 0xffffffff81f6588dULL,
			[9] = 0xffffffff8131dd2bULL,
			[10] = 0xffffffff81f6de90ULL,
			[11] = 0xffffffff814c82c8ULL,
			[12] = 0xffffffff814c9327ULL,
			[13] = 0xffffffff81373c79ULL,
			[14] = 0xffffffff81373cb0ULL,
		},
	},
	{
		.callee = 0xffffffff810caf22ULL,
		.callers = {
			[0] = 0xffffffff8109409eULL,
		},
	},
	{
		.callee = 0xffffffff81fb912eULL,
		.callers = {
			[0] = 0xffffffff81264275ULL,
		},
	},
};

#endif /* __EBPF__ */
